@page
@model WebProducto.Pages.CorreoModel

@{
    ViewData["Title"] = "Correo";
}

<h1>Indice</h1>

<p>
    <a asp-page="Create">Crear correo electronico</a>
</p>

    <form method="post">
        <div class="form-group">
            <label asp-for="Correo"></label>
            <input asp-for="Correo" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Asunto"></label>
            <input asp-for="Asunto" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Contenido"></label>
            <textarea asp-for="Contenido" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    @if (Model.MensajeProcesado != null)
    {
        <div class="alert alert-success mt-3">
            @Model.MensajeProcesado
        </div>
    }