@page
@model WebProducto.Pages.Account.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login Nova Online</title>
</head>
<body>
    <h2>Ingreso Administrativo</h2>

    <form method="post">
        <label>Usuario</label>
        <input asp-for="Usuario" />

        <label>Contraseña</label>
        <input asp-for="Contrasenia" type="password" />

        <button type="submit">Ingresar</button>

        @if (!string.IsNullOrEmpty(Model.ErrorMensaje))
        {
            <p style="color:red">@Model.ErrorMensaje</p>
        }
    </form>
</body>
</html>
