@page
@model WebProducto.Pages.Productos.CrearModel
@{
    ViewData["Title"] = "Nuevo Producto";
}

<h2>Registrar Nuevo Producto</h2>

<form method="post">

    <label>Número de Producto</label>
    <input asp-for="Producto.NumeroProducto" />

    <label>Nombre</label>
    <input asp-for="Producto.Nombre" />

    <label>Precio</label>
    <input asp-for="Producto.Precio" />

    <button class="btn btn-success mt-3">Guardar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>

</form>
