@page
@model WebProducto.Pages.Productos.DeleteModel
@{
    ViewData["Title"] = "Eliminar Producto";
}

<h2 class="text-danger">Eliminar Producto</h2>

<p>¿Está seguro que desea eliminar este producto?</p>

<div>
    <p><strong>Número:</strong> @Model.Producto.NumeroProducto</p>
    <p><strong>Nombre:</strong> @Model.Producto.Nombre</p>
    <p><strong>Precio:</strong> @Model.Producto.Precio</p>
</div>

<form method="post">
    <button class="btn btn-danger">Eliminar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
