@page
@model WebProducto.Pages.Productos.DeleteModel
@{
    ViewData["Title"] = "Eliminar Producto";
}

<h2>Eliminar Producto</h2>

<p>¿Está seguro que desea eliminar este producto?</p>

<div>
    <strong>Número:</strong> @Model.Producto.NumeroProducto <br />
    <strong>Nombre:</strong> @Model.Producto.NombreProducto <br />
    <strong>Precio:</strong> @Model.Producto.Precio
</div>

<form method="post" style="margin-top:20px;">
    <button class="btn btn-danger">Eliminar</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
</form>
