@page
@model WebProducto.Pages.Productos.EditModel
@{
    ViewData["Title"] = "Editar Producto";
}

<h2>Editar Producto</h2>

<form method="post">

    <label>Número</label>
    <input asp-for="Producto.NumeroProducto" readonly />

    <label>Nombre</label>
    <input asp-for="Producto.NombreProducto" />

    <label>Precio</label>
    <input asp-for="Producto.Precio" />

    <button class="btn btn-primary" style="margin-top:10px;">Guardar cambios</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
