/* GENERAL */
body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    margin: 0;
}

/* HEADER */
.header {
    background: #004AAD;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
}

.menu a {
    color: white;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
}

    .menu a:hover {
        text-decoration: underline;
    }

/* CONTENEDOR PRINCIPAL */
.main-container {
    max-width: 1100px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #bfc3c8;
}

/* FOOTER */
.footer {
    margin-top: 40px;
    background: #202020;
    padding: 15px;
    text-align: center;
    color: white;
}

/* TABLAS */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #004AAD;
    color: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* BOTONES */
.btn {
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
}

.btn-primary {
    background: #006eff;
    color: white;
}

.btn-success {
    background: #28a745;
    color: white;
}

.btn-warning {
    background: #ff9800;
    color: white;
}

.btn-danger {
    background: #f44336;
    color: white;
}

.btn-secondary {
    background: #6c757d;
    color: white;
}

/* FORMULARIOS */
input, select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}
