@page
@model WebProducto.Pages.Proveedores.InactivarModel
@{
    ViewData["Title"] = "Inactivar Proveedor";
}

<h2 class="text-danger">Inactivar Proveedor</h2>

<p>¿Está seguro que desea inactivar este proveedor?</p>

<div>
    <p><strong>Cédula:</strong> @Model.Proveedor.CedulaJuridica</p>
    <p><strong>Empresa:</strong> @Model.Proveedor.Empresa</p>
    <p><strong>Contacto:</strong> @Model.Proveedor.Contacto</p>
</div>

<form method="post">
    <button class="btn btn-danger">Inactivar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
